# IntelliJ
.idea/
*.iml
*.iws
bin/
**/bin/
!application/argos-core/src/main/java/com/erval/argos/core/application/port/out/
!argos-v2/services/resource-service/resource-core/src/main/java/com/erval/argos/resource/application/port/out/

# Eclipse
.classpath
.project
.factorypath
.settings/
**/.settings/

# Gradle
/build/
**/build/
gradle-app.setting

# Root Gradle cache
.gradle/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Secrets
**/keys/
data/reports
frontend/node_modules
frontend/remote-report/node_modules
frontend/remote-query/node_modules
frontend/host/node_modules
