services:
  traefik:
    image: traefik:v3.6.5
    container_name: argos-traefik
    command:
      - --api.dashboard=true
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --accesslog=true
      - --log.level=INFO
      - --entrypoints.web.forwardedheaders.insecure=true
    ports:
      - "80:80"
      - "8088:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - argos_net

  mongo:
    image: mongo:8
    container_name: argos-mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongo_data:/data/db
    networks: [argos_net]

  rabbitmq:
    image: rabbitmq:4.2.2-management
    ports:
      - "15672:15672"
    networks: [argos_net]

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: argos-keycloak
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_PROXY_HEADERS: xforwarded
      KC_HOSTNAME: auth.localhost
      KC_HOSTNAME_STRICT: "true"
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT_HTTPS: "false"
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./keycloak/import:/opt/keycloak/data/import:ro
    networks: [argos_net]
    labels:
      - traefik.enable=true
      - traefik.http.routers.keycloak.rule=Host(`auth.localhost`)
      - traefik.http.services.keycloak.loadbalancer.server.port=8080

  resource:
    image: ghcr.io/ervaal/argos-resource-service:main
    container_name: argos-resource
    environment:
      SPRING_MONGODB_URI: mongodb://root:root@mongo:27017/argos_resource?authSource=admin
      ARGOS_RESOURCE_GRPC_PORT: 9091
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/argos
    depends_on: [mongo, keycloak]
    networks: [argos_net]
    labels:
      - traefik.enable=true
      - traefik.http.routers.resource.rule=PathPrefix(`/api/v1/resource`)
      - traefik.http.routers.resource.middlewares=resource-stripprefix
      - traefik.http.middlewares.resource-stripprefix.stripprefix.prefixes=/api/v1/resource
      - traefik.http.services.resource.loadbalancer.server.port=8081

  process:
    image: ghcr.io/ervaal/argos-process-service:main
    container_name: argos-process
    environment:
      SPRING_MONGODB_URI: mongodb://root:root@mongo:27017/argos_process?authSource=admin
      ARGOS_RESOURCE_GRPC_HOST: resource
      ARGOS_RESOURCE_GRPC_PORT: 9091
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/argos
    depends_on: [mongo, rabbitmq, resource, keycloak]
    networks: [argos_net]
    labels:
      - traefik.enable=true
      - traefik.http.routers.process.rule=PathPrefix(`/api/v1/process`)
      - traefik.http.routers.process.middlewares=process-stripprefix
      - traefik.http.middlewares.process-stripprefix.stripprefix.prefixes=/api/v1/process
      - traefik.http.services.process.loadbalancer.server.port=8082

  report:
    image: ghcr.io/ervaal/argos-report-service:main
    container_name: argos-report
    environment:
      SPRING_MONGODB_URI: mongodb://root:root@mongo:27017/argos_report?authSource=admin
      ARGOS_RESOURCE_GRPC_HOST: resource
      ARGOS_RESOURCE_GRPC_PORT: 9091
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      ARGOS_REPORT_STORAGE_DIR: /data/reports
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/argos
    depends_on: [mongo, rabbitmq, resource, keycloak]
    networks: [argos_net]
    volumes:
      - report_data:/data/reports
    labels:
      - traefik.enable=true
      - traefik.http.routers.report.rule=PathPrefix(`/api/v1/report`)
      - traefik.http.routers.report.middlewares=report-stripprefix
      - traefik.http.middlewares.report-stripprefix.stripprefix.prefixes=/api/v1/report
      - traefik.http.services.report.loadbalancer.server.port=8083

  host:
    image: ghcr.io/ervaal/argos-host:main
    container_name: argos-host
    networks: [argos_net]
    volumes:
      - ./frontend/config/host.config.json:/usr/share/nginx/html/config.json:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.host.rule=Host(`argos.localhost`)
      - traefik.http.services.host.loadbalancer.server.port=80

  remote-query:
    image: ghcr.io/ervaal/argos-remote-query:main
    container_name: argos-remote-query
    networks: [argos_net]
    labels:
      - traefik.enable=true
      - traefik.http.routers.remote-query.rule=Host(`query.argos.localhost`)
      - traefik.http.services.remote-query.loadbalancer.server.port=80

  remote-report:
    image: ghcr.io/ervaal/argos-remote-report:main
    container_name: argos-remote-report
    networks: [argos_net]
    labels:
      - traefik.enable=true
      - traefik.http.routers.remote-report.rule=Host(`report.argos.localhost`)
      - traefik.http.services.remote-report.loadbalancer.server.port=80

networks:
  argos_net:
    name: argos_net

volumes:
  mongo_data:
  report_data:
  keycloak_data:
