services:
  mongo:
    image: mongo:8
    container_name: argos-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks: [argos_net]

  rabbitmq:
    image: rabbitmq:4.2.2-management
    container_name: argos-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    networks: [argos_net]

  resource:
    build:
      context: .
      dockerfile: services/resource-service/resource-bootstrap/Dockerfile
    container_name: argos-resource
    environment:
      SPRING_MONGODB_URI: ${RESOURCE_MONGO_URI}
      ARGOS_RESOURCE_GRPC_PORT: 9091
    depends_on: [mongo]
    networks: [argos_net]
    labels:
      - traefik.enable=true
      - traefik.http.routers.resource.rule=PathPrefix(`/resource`)
      - traefik.http.routers.resource.middlewares=resource-stripprefix
      - traefik.http.middlewares.resource-stripprefix.stripprefix.prefixes=/resource
      - traefik.http.services.resource.loadbalancer.server.port=8081

  process:
    build:
      context: .
      dockerfile: services/process-service/process-bootstrap/Dockerfile
    container_name: argos-process
    environment:
      SPRING_MONGODB_URI: ${PROCESS_MONGO_URI}
      ARGOS_RESOURCE_GRPC_HOST: resource
      ARGOS_RESOURCE_GRPC_PORT: 9091
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
    depends_on: [mongo, resource, rabbitmq]
    networks: [argos_net]
    labels:
      - traefik.enable=true
      - traefik.http.routers.process.rule=PathPrefix(`/process`)
      - traefik.http.routers.process.middlewares=process-stripprefix
      - traefik.http.middlewares.process-stripprefix.stripprefix.prefixes=/process
      - traefik.http.services.process.loadbalancer.server.port=8082

  report:
    build:
      context: .
      dockerfile: services/report-service/report-bootstrap/Dockerfile
    container_name: argos-report
    environment:
      SPRING_MONGODB_URI: ${REPORT_MONGO_URI}
      ARGOS_RESOURCE_GRPC_HOST: resource
      ARGOS_RESOURCE_GRPC_PORT: 9091
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      ARGOS_REPORT_STORAGE_DIR: /data/reports
    depends_on: [mongo, resource, rabbitmq]
    networks: [argos_net]
    volumes:
      - report_data:/data/reports
    labels:
      - traefik.enable=true
      - traefik.http.routers.report.rule=PathPrefix(`/report`)
      - traefik.http.routers.report.middlewares=report-stripprefix
      - traefik.http.middlewares.report-stripprefix.stripprefix.prefixes=/report
      - traefik.http.services.report.loadbalancer.server.port=8083

networks:
  argos_net:
    external: true
volumes:
  mongo_data:
  report_data:
