services:
  traefik:
    image: traefik:v3.6.5
    container_name: argos-traefik
    command:
      - --api.dashboard=true
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --accesslog=true
      - --log.level=INFO
      - --entrypoints.web.forwardedheaders.insecure=true
    ports:
      - "80:80"
      - "8088:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      argos_net:
        aliases:
          - auth.localhost

networks:
  argos_net:
    external: true
